{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom de Famille</th>
                <th>Réservations</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>  
                    {% for booking in client.bookings %} 
                        {{booking.creationDate | date('d-m-Y')}}<br>
                        
                    {% endfor %}
                </td>
                <td> <a href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}"><button>Créer un nouveau client</button></a>

{% endblock %}
