{% extends 'base.html.twig' %}

{% block body %}

    <h1>Voitures</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.name }}</td>
                <td>{% if car.available %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('car_edit', { 'id': car.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('car_new') }}"><button>Créer une nouvelle voiture</button></a>

{% endblock %}
