{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réservations</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date de création</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Client</th>
                <th>Voiture</th>
                <th>Surclassé</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.creationDate | date('d-m-Y ') }}</td>
                <td>{{ booking.startDate | date('d-m-Y ') }}</td>
                <td>{{ booking.endDate | date('d-m-Y') }}</td>
                <td>{{ booking.Client.lastName}} {{ booking.Client.firstName}}</td>
                <td>{{ booking.car.name}}</td>
                <td>{% if booking.upgrade %}X{% else %}-{% endif %}</td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('booking_new') }}"><button>Créer une réservation</button></a>

{% endblock %}
