{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une réservation</h1>

    {{ form_start(form, {'attr':{'id':'newBooking'}}) }}

        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.client) }}
        
        
        {{ form_row(form.car) }}


        <div id="upgrade">
            {{ form_row(form.upgrade) }}      
            {{ form_row(form.car) }}
        </div>
        <div class='msg'></div>
        <div class ='errors'></div>
        <input type="submit" value="Créer" />
    {{ form_end(form) }}


    <a href="{{ path('booking_index') }}"><button>Voir la liste</button></a>

{% endblock %}
